// Hero
.hero {
    margin-top: var(--spacing-m);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-m);

    * {
        text-align: center;
    }
}

.hero--content {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: var(--font-l);
        font-weight: bold;

        span {
            color: var(--col-main);
        }
    }

    p {
        margin-top: var(--spacing-m);
    }

    .button-primary {
        margin-top: var(--spacing-l);
    }
}

.hero--illustration {
    grid-column: 2;

    img {
        max-width: 70%;
    }

    p {
        margin-top: var(--spacing-xxs);
    }
}

@media screen and (min-width: 768px) {
    .hero {
        margin-top: var(--spacing-xl);
        flex-direction: row;
        * {
            text-align: left;
        }
    }

    .hero--content {
        align-items: start;
    }

    .hero--illustration {
        display: flex;
        flex-direction: column;
        align-items: end;

        img {
            max-width: 80%;
        }

        p {
            margin-top: var(--spacing-m);
        }
    }
}

@media screen and (min-width: 768px) {
    .hero--content h1 {
        font-size: var(--font-xl);
    }
}

// Social proof
.social-proof--content {
    display: grid;
    justify-items: center;
    text-align: center;

    > h2 {
        text-align: center;
        color: var(--col-dark);
    }

    .ratings-wrapper {
        margin-top: var(--spacing-xl);
    }

    .title {
        margin-top: var(--spacing-s);
    }

    .stars {
        display: flex;
        gap: var(--spacing-xs);
        justify-content: center;
        margin-top: calc(var(--spacing-xxs) * 1.5);

        > img {
            height: 1em;
        }
    }

    .heart-rating {
        margin-top: var(--spacing-l);
        display: grid;
        gap: var(--spacing-xxs);
        justify-items: center;

        > img {
            max-width: var(--spacing-xl);
        }

        > h3 {
            font-weight: 500;
        }

        > p {
            font-size: var(--font-m);
            font-weight: bold;
            color: var(--col-main);
        }
    }
}

.social-proof--video {
    position: relative;
    margin-top: var(--spacing-m);
    margin-inline: auto;
    max-width: fit-content;

    img {
        height: 100%;
        width: 100%;
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.2);
        bottom: 3px;
    }

    &::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 2;
        background-image: url("/img/icons/icon_play.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: var(--spacing-m);
        bottom: 3px;
    }
}

@media screen and (max-width: 1023px) {
    .social-proof--video > * {
        max-width: 500px;
    }
}

@media screen and (min-width: 1024px) {
    .social-proof {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: var(--spacing-s);
    }

    .social-proof--content {
        grid-column: 2;
        grid-row: 1;
        display: block;

        > h2 {
            font-size: var(--font-l);
            font-weight: bold;
            text-align: left;
        }

        .ratings-wrapper {
            display: grid;
            grid-template-columns: 2fr 1fr;
            margin-top: var(--spacing-xs);
        }

        .star-ratings {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: var(--spacing-xxs);
            text-align: left;
            white-space: nowrap;
        }

        .title {
            margin-top: 0;
        }

        .stars {
            justify-content: start;
            gap: var(--spacing-xxs);
            margin-top: 0;
        }

        .heart-rating {
            display: flex;
            flex-direction: column;
            align-self: center;
            align-items: center;
            margin-top: 0;

            padding-left: var(--spacing-s);
        }
    }

    .social-proof--video {
        grid-column: 1;
        grid-row: 1;
        margin-top: 0;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
        }

        &::before {
            bottom: 0;
        }

        &::after {
            bottom: 0;
        }
    }
}

// Features
.features {
    text-align: center;

    h2 {
        color: var(--col-main);
    }

    > * {
        margin-inline: auto !important;
    }
}

@media screen and (max-width: 1023px) {
    .features > * {
        max-width: 500px;
    }
}

.features-wrapper {
    display: grid;
    gap: var(--spacing-l);
    margin-top: var(--spacing-l);
    padding-inline: var(--spacing-m);
}

.feature-card {
    display: grid;
    justify-items: center;
    gap: var(--spacing-xs);

    img {
        aspect-ratio: 1;
        width: var(--spacing-l);
    }

    h3 {
        font-size: var(--font-m);
        font-weight: bold;
    }
}

@media screen and (min-width: 1024px) {
    .features h2 {
        font-size: var(--font-l);
    }

    .feature-card {
        max-width: 30%;
        img {
            width: var(--spacing-xl);
            margin-bottom: var(--spacing-xxs);
        }

        p {
            margin-inline: var(--spacing-s);
        }
    }

    .features-wrapper {
        display: flex;
        justify-content: space-between;
        padding-inline: 0;
        margin-inline: var(--spacing-xl);
    }
}

// Products
@media screen and (max-width: 1023px) {
    .products > * {
        max-width: 500px;
        margin-inline: auto;
    }
}

.product-images img:not(.main-image) {
    display: none;
}

.main-image {
    display: block !important;
}

.product-image-slider {
    display: flex;
    gap: var(--spacing-xxs);
    margin-top: var(--spacing-xs);
    width: fit-content;
    margin-inline: auto;
}

.slider {
    background-color: var(--col-main);
    opacity: 0.5;
    height: var(--spacing-xxs);
    width: var(--spacing-s);
    border-radius: calc(var(--spacing-xxs) / 2);

    &[data-active="true"] {
        opacity: 1;
    }
}

.product-informations {
    margin-top: var(--spacing-s);
}

.product-name {
    background-color: var(--col-dark);
    color: var(--col-light);
    padding: var(--spacing-xs) var(--spacing-xxs);
    text-align: center;
    font-weight: bold;
}

.product-highlights {
    margin-top: var(--spacing-s);
    display: flex;
    justify-content: center;
    gap: var(--spacing-m);
}

.product-highlight {
    text-align: center;

    h3 {
        font-size: var(--font-l);
        font-weight: bold;
    }
    span {
        font-weight: 500;
    }
    p {
        margin-top: var(--spacing-xxs);
    }
}

.product-description {
    margin-top: var(--spacing-s);
    text-align: justify;
}

.product-price {
    margin-top: var(--spacing-s);
    text-align: center;
    h3 {
        font-weight: bold;
        font-size: var(--font-l);
    }
    p {
        font-size: var(--font-m);
    }
}

.product-cta {
    margin-top: var(--spacing-s);
    display: flex;
    gap: var(--spacing-xs);
    flex-direction: column;
    align-items: center;

    > * {
        width: 100%;
    }
}

.other-product {
    text-align: center;
    display: inline-block;
    width: fit-content;
    max-width: 40%;

    margin-top: var(--spacing-m);

    > * {
        max-width: 100%;
    }

    h2 {
        margin-top: var(--spacing-xxs);
        font-weight: bold;
    }

    a {
        display: block;
        aspect-ratio: 1;
        width: var(--spacing-m);
        margin: 0 auto;
        border-radius: 50%;
        margin-top: calc(var(--spacing-xxs) * 1.5);
        background-color: var(--col-dark);
        background-image: url("/img/icons/icon_next_prev.png");
        background-size: contain;
        background-repeat: no-repeat;
    }

    &:last-of-type {
        float: right;
    }

    &:last-of-type {
        a {
            transform: rotateZ(180deg);
        }
    }
}

@media screen and (min-width: 1024px) {
    .products {
        display: grid;
        grid-template-columns: 3fr 6fr 3fr;
    }

    .product-images img {
        display: block !important;
    }

    .product-images {
        grid-column: 1 / span 3;
        display: grid;
        grid-template-columns: 3fr 6fr 3fr;
        column-gap: var(--spacing-l);
        align-items: center;

        .left-images {
            display: grid;
            grid-template-columns: 1fr 2fr;
            row-gap: var(--spacing-xs);

            > img {
                grid-column: 2;
            }
        }

        .right-images {
            display: grid;
            grid-template-columns: 2fr 1fr;
            row-gap: var(--spacing-xs);

            > img {
                grid-column: 1;
            }
        }
    }

    .main-image {
        grid-column: 2;
        grid-row: 1 / span 3;
    }

    .product-image-slider {
        display: none;
    }

    .product-informations,
    .product-description,
    .product-price-cta-wrapper {
        grid-column: 2 / 3;
    }

    .product-informations {
        h2 {
            font-size: var(--spacing-m);
        }

        p {
            font-weight: 500;
            opacity: 0.5;
        }
    }

    .product-highlights {
        justify-content: space-evenly;
    }

    .product-price-cta-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: var(--spacing-s);
    }

    .other-product {
        grid-row: 4;
        width: 50%;
        transform: translateY(calc(var(--spacing-l) * -3));

        &:first-of-type {
            grid-column: 1 / 2;
        }
        &:last-of-type {
            grid-column: 3 / 4;
            justify-self: end;
        }
    }
}

// About us
.about-us img {
    border-radius: var(--spacing-xxs);
}
.about-us--content {
    text-align: center;
    max-width: 500px;
    margin-inline: auto !important;

    > * {
        margin-top: var(--spacing-m);
    }

    > h2 {
        font-weight: bold;
        font-size: var(--font-m);
    }

    > p {
        text-align: justify;
    }

    .button-primary {
        margin-inline: auto;
    }
}

@media screen and (min-width: 1024px) {
    .about-us {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: var(--spacing-s);

        > img {
            grid-column: 1 / span 8;
            height: 100%;
            object-fit: cover;
        }
    }

    .about-us--content {
        grid-column: 9 / span 4;

        > h2 {
            margin-top: 0;
            text-align: left;
            font-size: var(--font-l);
        }

        p {
            line-height: 1.25em;
        }

        .button-primary {
            margin-top: var(--spacing-l);
            margin-inline: 0;
            width: 100%;
        }
    }
}

// Faq
.faq .section-title {
    text-align: center;
}

.faq--content {
    margin-top: var(--spacing-l);

    ul {
        list-style: disc;
        padding-left: var(--spacing-m);
    }
}

.faq-static {
    li {
        margin-top: var(--spacing-l);

        h3 {
            font-weight: bold;
        }
        p {
            margin-top: var(--spacing-s);
        }
    }
}

.faq-dynamic {
    ul {
        margin-top: var(--spacing-xl);
        list-style: none;
    }

    li {
        margin-top: var(--spacing-s);
        position: relative;

        h3 {
            font-weight: 500;
        }

        &::before {
            content: "";
            position: absolute !important;
            left: calc(var(--spacing-xs) * -1.75);

            display: inline-block;

            aspect-ratio: 1;
            height: var(--spacing-xs);

            background-image: url("/img/icons/icon_dropdown_main.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom;
        }
    }
}

@media screen and (min-width: 1024px) {
    .faq--content {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: var(--spacing-s);
    }

    .faq-static {
        grid-column: 1 / span 7;
    }

    .faq-dynamic {
        grid-column: 9 / span 4;
    }
}

// Doubts
.doubts h2 {
    text-align: center;
}

.doubts--content {
    margin-top: var(--spacing-l);
    padding: var(--spacing-m);

    border: 3px solid var(--col-dark);
    border-radius: var(--spacing-xxs);

    display: grid;
    grid-template-columns: 100%;
    row-gap: var(--spacing-m);

    > * {
        max-width: 100%;
    }

    .input-wrapper {
        > label {
            display: block;
            font-weight: 500;

            &:first-of-type {
                margin-top: 0;
            }
        }

        > input,
        textarea {
            margin-top: var(--spacing-xxs);
            width: 100%;
            box-sizing: border-box;
        }

        a {
            color: var(--col-dark);
        }

        div:has(.input-checkbox) {
            display: flex;
            column-gap: var(--spacing-xxs);
            padding-top: var(--spacing-xxs);
        }
    }

    .button-primary {
        margin-top: var(--spacing-m);
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .doubts--content {
        grid-template-columns: 1fr 1fr;
        column-gap: var(--spacing-s);
        row-gap: var(--spacing-m);
        max-width: 880px;
        margin-inline: auto;

        div:has(textarea) {
            grid-column: 1 / span 2;
        }

        .button-primary {
            margin-top: 0;
            grid-column: 2;
        }
    }
}

// Modal
.modal {
    position: fixed;
    z-index: 4;
    inset: 0;
    overflow: auto;
    margin: unset !important;
    background-color: var(--col-light);

    padding: var(--spacing-s);

    text-align: center;

    display: grid;
    row-gap: var(--spacing-xl);
}

.modal--content {
    display: grid;
    row-gap: var(--spacing-l);

    > * {
        display: grid;
        row-gap: var(--spacing-m);
    }

    h3 {
        font-weight: bold;
    }

    h4 {
        font-weight: 500;
        color: var(--col-input);
    }

    h5 {
        font-weight: 500;
    }

    .field {
        margin-top: var(--spacing-xs);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: var(--spacing-xxs);

        > label {
            font-weight: 500;
            margin-bottom: var(--spacing-xxs);
        }
    }
}

.scooter-image p {
    margin-top: var(--spacing-xxs);
}

.scooter-informations {
    display: grid;
    row-gap: var(--spacing-l);
}

.scooter-informations > * {
    border-radius: var(--spacing-xs);
    border: 3px solid var(--col-dark);
    padding: var(--spacing-m);

    display: grid;
    row-gap: var(--spacing-xxs);
}

.scooter-description p {
    margin-top: var(--spacing-xs);
}

@media screen and (max-width: 1023px) {
    .scooter-image,
    .modal--content {
        max-width: 500px;
        margin-inline: auto !important;
    }
}

@media screen and (min-width: 1024px) {
    .modal--content {
        grid-template-columns: 4fr 8fr;
        column-gap: var(--spacing-s);
    }

    .scooter-image--wrapper h3 {
        font-size: var(--font-m);
    }

    .scooter-informations {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(2, fit-content(100%));
        column-gap: var(--spacing-s);

        > * {
            padding: unset;
            text-align: left;
            border: unset;

            display: block;
        }

        .field {
            align-items: start;
        }
    }

    .scooter-model {
        grid-column: 1 / span 2;
        grid-row: 1;
    }

    .scooter-technicalities {
        grid-column: 3 / span 3;
        grid-row: 1;
    }

    .scooter-batery {
        grid-column: 6 / span 3;
        grid-row: 1;
    }

    .scooter-included {
        grid-column: 1 / span 2;
        grid-row: 2;
    }

    .scooter-description {
        grid-column: 3 / span 6;
        grid-row: 2;
    }
}
