// Hero
.hero {
    margin-top: var(--spacing-m);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-m);

    * {
        text-align: center;
    }
}

.hero--content {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        font-size: var(--font-l);
        font-weight: bold;

        span {
            color: var(--col-main);
        }
    }

    p {
        margin-top: var(--spacing-m);
    }

    .button-primary {
        margin-top: var(--spacing-l);
    }
}

.hero--illustration {
    grid-column: 2;

    img {
        max-width: 70%;
    }

    p {
        margin-top: var(--spacing-xxs);
    }
}

@media screen and (min-width: 768px) {
    .hero {
        margin-top: var(--spacing-xl);
        flex-direction: row;
        * {
            text-align: left;
        }
    }

    .hero--content {
        align-items: start;
    }

    .hero--illustration {
        display: flex;
        flex-direction: column;
        align-items: end;

        img {
            max-width: 80%;
        }

        p {
            margin-top: var(--spacing-m);
        }
    }
}

@media screen and (min-width: 768px) {
    .hero--content h1 {
        font-size: var(--font-xl);
    }
}

// Social proof
.social-proof {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: var(--spacing-m);
    align-items: center;
    text-align: center;
}
.social-proof--ratings {
    display: grid;
    gap: var(--spacing-l);

    h2 {
        font-size: var(--font-m);
        font-weight: bold;
    }
}

.ratings-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-l);
}

.star-ratings {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
}

.star-card {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing-xxs) * 1.5);

    .stars {
        display: flex;
        gap: var(--spacing-xxs);
        justify-content: center;

        > * {
            aspect-ratio: 1;
            height: var(--font-s);
        }
    }

    [data-hidden="true"] {
        display: none;
    }
}

.heart-rating {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxs);

    img {
        width: var(--spacing-xl);
        align-self: center;
    }

    span {
        font-weight: bold;
        font-size: var(--font-m);
        color: var(--col-main);
    }
}

.social-proof--video {
    position: relative;
    isolation: isolate;

    aspect-ratio: 16/9;
    width: 100%;

    background-image: url("/img/social_proof_video.jpg");
    background-size: contain;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.2);
    }

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 2;
        background-image: url("/img/icons/icon_play.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: var(--spacing-m);
    }
}

@media screen and (min-width: 1024px) {
    .social-proof {
        display: flex;
        flex-direction: row-reverse;
        gap: var(--spacing-s);
        text-align: left;
        align-items: start;

        > * {
            flex: 1;
        }
    }

    .social-proof--ratings {
        gap: var(--spacing-m);

        h2 {
            font-size: var(--font-l);
        }
    }

    .ratings-wrapper {
        display: flex;
        flex-direction: row;
        gap: var(--spacing-m);

        > * {
            flex: 1;
        }
    }

    .star-card {
        flex-direction: row;
        justify-content: space-between;

        h3 {
            white-space: nowrap;
        }

        .stars {
            gap: var(--spacing-s);
        }

        [data-hidden="true"] {
            display: block;
            opacity: 0;
            order: 5;
        }
    }

    .heart-rating {
        text-align: center;
        align-self: center;
        font-weight: 500;
        white-space: nowrap;
    }
}

// Features
.features {
    text-align: center;

    h2 {
        font-size: var(--font-m);
        font-weight: bold;
        color: var(--col-main);
    }
}

.features-wrapper {
    display: grid;
    gap: var(--spacing-l);
    margin-top: var(--spacing-l);
    padding-inline: var(--spacing-m);
}

.feature-card {
    display: grid;
    justify-items: center;
    gap: var(--spacing-xs);

    img {
        aspect-ratio: 1;
        width: var(--spacing-l);
    }

    h3 {
        font-size: var(--font-m);
        font-weight: bold;
    }
}

@media screen and (min-width: 1024px) {
    .features h2 {
        font-size: var(--font-l);
    }

    .feature-card {
        max-width: 30%;
        img {
            width: var(--spacing-xl);
            margin-bottom: var(--spacing-xxs);
        }

        p {
            margin-inline: var(--spacing-s);
        }
    }

    .features-wrapper {
        display: flex;
        justify-content: space-between;
        padding-inline: 0;
        margin-inline: var(--spacing-xl);
    }
}

// Products
.products img {
    max-width: 100%;
}

.product-image-slider {
    display: flex;
    gap: var(--spacing-xxs);
    justify-content: center;
    margin-top: var(--spacing-xs);

    .slider {
        background-color: var(--col-main);
        opacity: 0.5;
        height: var(--spacing-xxs);
        width: var(--spacing-s);
        border-radius: calc(var(--spacing-xxs) / 2);

        &[data-active="true"] {
            opacity: 1;
        }
    }
}

.product-informations {
    margin-top: var(--spacing-s);
}

.product-name {
    background-color: var(--col-dark);
    color: var(--col-light);
    padding: var(--spacing-xs) var(--spacing-xxs);
    text-align: center;
    font-weight: bold;
}

.product-highlights {
    margin-top: var(--spacing-s);
    display: flex;
    justify-content: center;
    gap: var(--spacing-m);
}

.product-highlight {
    text-align: center;

    h3 {
        font-size: var(--font-l);
        font-weight: bold;
    }
    span {
        font-weight: 500;
    }
    p {
        margin-top: var(--spacing-xxs);
    }
}

.product-description {
    margin-top: var(--spacing-s);
    text-align: justify;
}

.product-price {
    margin-top: var(--spacing-s);
    text-align: center;
    h3 {
        font-weight: bold;
        font-size: var(--font-l);
    }
    p {
        font-size: var(--font-m);
    }
}

.product-cta {
    margin-top: var(--spacing-s);
    display: flex;
    gap: var(--spacing-xs);
    flex-direction: column;
    align-items: center;

    > * {
        width: 100%;
    }
}

.other-products {
    margin-top: var(--spacing-s);
    display: flex;
    gap: var(--spacing-m);

    font-weight: bold;
    text-align: center;
}

.other-product {
    h2 {
        margin-top: var(--spacing-xxs);
    }

    a {
        display: block;
        aspect-ratio: 1;
        width: var(--spacing-m);
        margin: 0 auto;
        border-radius: 50%;
        margin-top: calc(var(--spacing-xxs) * 1.5);
        background-color: var(--col-dark);
        background-image: url("/img/icons/icon_next_prev.png");
        background-size: contain;
        background-repeat: no-repeat;
    }

    &:last-of-type {
        a {
            transform: rotateZ(180deg);
        }
    }
}
