body > * {
    padding-inline: var(--spacing-s);
}

@media screen and (min-width: 900px) {
    body > * {
        padding-inline: var(--spacing-xl);
    }
}

.navbar {
    padding-block: var(--spacing-m);
    align-items: center;

    display: flex;
    justify-content: space-between;
}

.navbar--logo {
    display: flex;
    gap: var(--spacing-xxs);

    > :last-child {
        display: flex;
        align-items: center;
        max-width: 40vw;
        font-weight: bold;
        line-height: 0.6em;
        font-size: var(--font-m);
    }
}

.navbar--hamburger {
    grid-column: -1 / span 1;
    display: flex;

    background-image: url("/img/icons/icon_menu.png");
    aspect-ratio: 1;
    width: var(--font-m);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar--navigation {
    display: none;
}

@media screen and (min-width: 900px) {
    .navbar {
        padding-block: var(--spacing-m);
    }

    .navbar--hamburger {
        display: none;
    }

    .navbar--navigation {
        display: flex;
        gap: var(--spacing-m);

        font-weight: bold;

        > li > a {
            text-decoration: none;
            color: var(--col-dark);
        }

        > li:last-of-type {
            > a {
                display: flex;
                gap: calc(var(--spacing-xxs) / 2);

                color: var(--col-main);
                img {
                    height: 1em;
                }
            }
        }
    }
}
