.navbar {
    padding-block: var(--spacing-s);
    align-items: center;
}

.navbar--logo {
    grid-column: 1 / span 3;
    display: flex;
    gap: var(--spacing-xxs);

    > :last-child {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: var(--font-s);
        line-height: 0.6em;
    }
}

.navbar--hamburger {
    grid-column: -1 / span 1;
    display: flex;

    background-image: url("/img/icons/icon_menu.png");
    aspect-ratio: 1;
    width: var(--font-s);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar--navigation {
    display: none;
}
