<!DOCTYPE html>
<html lang="en">

<%- include("../templates/head") %>

<body>
  <%- include("../templates/navbar")  %>

  <section class="hero">
    <div class="hero--content">
      <h1>A scooter que se <span>encaixa na sua vida</span> está aqui!</h1>
      <p>Nossa coleção de modelos abrange todas as necessidades de uma pessoa moderna: praticidade, durabilidade e eficiência são o nosso foco.</p>
      <a class="button-primary">Conheça nossos modelos</a>
    </div>
    <div class="hero--illustration">
      <img class="hero--image" src="img/hero_image.png" aria-hidden="true">
      <p class="hero--social-proof">+5.000 unidades vendidas | n° 1 nas pesquisas de mercado</p>
    </div>
  </section>

  <section class="social-proof">
    <div class="social-proof--content">
      <h2>Veja o que nossos clientes dizem sobre nós</h2>
      <div class="ratings-wrapper">
        <div class="star-ratings">
          <div class="title">Qualidade do produto</div>
          <div class="stars" alt="Avaliação de 5 estrelas">
            <img src="img/icons/icon_star.png" aria-hidden="true">
            <img src="img/icons/icon_star.png" aria-hidden="true">
            <img src="img/icons/icon_star.png" aria-hidden="true">
            <img src="img/icons/icon_star.png" aria-hidden="true">
            <img src="img/icons/icon_star.png" aria-hidden="true">
          </div>
          <div class="title">Atendimento ao cliente </div>
          <div class="stars" alt="Avaliação de 5 estrelas">
            <img src="img/icons/icon_star.png" aria-hidden="true">
            <img src="img/icons/icon_star.png" aria-hidden="true">
            <img src="img/icons/icon_star.png" aria-hidden="true">
            <img src="img/icons/icon_star.png" aria-hidden="true">
            <img src="img/icons/icon_star.png" aria-hidden="true">
          </div>
          <div class="title">Preço e valor do produto</div>
          <div class="stars" alt="Avaliação de 5 estrelas">
            <img src="img/icons/icon_star.png" aria-hidden="true">
            <img src="img/icons/icon_star.png" aria-hidden="true">
            <img src="img/icons/icon_star.png" aria-hidden="true">
            <img src="img/icons/icon_star.png" aria-hidden="true">
            <img src="img/icons/icon_star.png" aria-hidden="true">
          </div>
          <div class="title">Experiência de compra</div>
          <div class="stars" alt="Avaliação de 5 estrelas">
            <img src="img/icons/icon_star.png" aria-hidden="true">
            <img src="img/icons/icon_star.png" aria-hidden="true">
            <img src="img/icons/icon_star.png" aria-hidden="true">
            <img src="img/icons/icon_star.png" aria-hidden="true">
            <img src="img/icons/icon_star.png" aria-hidden="true">
          </div>
        </div>
        <div class="heart-rating">
          <img src="img/icons/icon_heart.png" aria-hidden="true">
          <h3>Recomendaria a marca</h3>
          <p>96%</p>
        </div>
      </div>
    </div>
    <div class="social-proof--video">
      <img src="/img/social_proof_video.jpg" alt="">
    </div>
  </section>
  <section class="features section-dark">
    <h2>Só nas nossas scooters você encontra</h2>
    <div class="features-wrapper">
      <div class="feature-card">
        <img src="/img/icons/icon_velocimeter.png" aria-hidden="true">
        <h3>Potência excepcional</h3>
        <p>Nós projetamos nossas scooters com motores potentes, que proporcionam uma condução suave e rápida.</p>
      </div>
      <div class="feature-card">
        <img src="/img/icons/icon_cheap.png" aria-hidden="true">
        <h3>Preço acessível</h3>
        <p>Trabalhamos para manter nossos preços competitivos sem comprometer a qualidade do produto.</p>
      </div>
      <div class="feature-card">
        <img src="/img/icons/icon_shield.png" aria-hidden="true">
        <h3>Durabilidade superior</h3>
        <p> Nossas scooters são construídas com materiais de alta qualidade e são resistentes ao desgaste diário.</p>
      </div>
    </div>
  </section>
  <section class="products">
    <div class="product-images">
      <img src="img/scooters/canyon_elite_scooter1.png" alt="Imagem da Canyon Elite Scooter em fundo transparente" class="main-image">
      <div class="left-images">
        <img src="/img/scooters/canyon_elite_scooter2.jpg" aria-hidden="true">
        <img src="/img/scooters/canyon_elite_scooter2.jpg" aria-hidden="true">
        <img src="/img/scooters/canyon_elite_scooter2.jpg" aria-hidden="true">
      </div>
      <div class="right-images">
        <img src="/img/scooters/canyon_elite_scooter2.jpg" aria-hidden="true">
        <img src="/img/scooters/canyon_elite_scooter2.jpg" aria-hidden="true">
        <img src="/img/scooters/canyon_elite_scooter2.jpg" aria-hidden="true">
      </div>
      <div class="product-image-slider">
        <div class="slider"></div>
        <div class="slider"></div>
        <div class="slider" data-active="true"></div>
        <div class="slider"></div>
        <div class="slider"></div>
      </div>
    </div>
    <div class="product-informations">
      <h2 class="product-name">
        Canyon Elite Scooter
      </h2>
      <div class="product-highlights">
        <div class="product-highlight">
          <h3>25</h3>
          <span>km/h</span>
          <p>velocidade máxima</p>
        </div>
        <div class="product-highlight">
          <h3>40</h3>
          <span>km</span>
          <p>autonomia</p>
        </div>
        <div class="product-highlight">
          <h3>6</h3>
          <span>hr</span>
          <p>recarga completa</p>
        </div>
      </div>
    </div>
    <div class="product-description">
      A Canyon Elite Scooter é uma opção excepcional para aqueles que procuram uma scooter elétrica de alta qualidade. Com uma velocidade máxima de 25km/h, esta scooter oferece uma condução suave e rápida, permitindo que os usuários se movam pela cidade com facilidade. Além disso, a bateria da Canyon Elite oferece uma autonomia de até 40 km por carga, o que é uma ótima opção para aqueles que precisam se deslocar por longas distâncias. E com um tempo de recarga de apenas 6 horas, você pode rapidamente recarregar sua bateria e estar pronto para outra jornada.
    </div>
    <div class="product-price-cta-wrapper">
      <div class="product-price">
        <h3>R$3.200,00</h3>
        <p>até 24x de R$160,00</p>
      </div>
      <div class="product-cta">
        <a href="" class="button-primary">Comprar agora</a>
        <a href="" class="button-secondary">Mais detalhes</a>
      </div>
    </div>
    <div class="other-product">
      <img src="img/scooters/canyon_comfort_scooter1.png" aria-hidden="true">
      <h2>Canyon Comfort</h2>
      <a href="" alt="Ver informações da Canyon Comfort Scooter"></a>
    </div>
    <div class="other-product">
      <img src="img/scooters/canyon_master_scooter1.png" aria-hidden="true">
      <h2>Canyon Master</h2>
      <a href="" alt="Ver informações da Canyon Comfort Scooter"></a>
    </div>
  </section>
  <section class="about-us section-dark">
    <img src="/img/meet_the_team_image.jpg" alt="Equipe da Ideal Canyon reunida">
    <div class="about-us--content">
      <h2>Sobre nosso time</h2>
      <p>Nossa equipe é composta por profissionais dedicados que trabalham duro para oferecer a você os melhores produtos e serviços possíveis. Cada membro da nossa equipe possui habilidades únicas aliadas a experiências valiosas que nos ajudam a atender nossos clientes de forma eficaz. Estamos comprometidos tem fornecer scooters duráveis ​​e de alta qualidade, mantendo preços acessíveis, e nosso time está sempre prontos para ajudá-lo a encontrar a scooter perfeita para todas as suas necessidades. Conheça nosso time agora e saiba mais sobre as pessoas que fazem a Ideal Canyon acontecer.</p>
      <a href="" class="button-primary">Conheça nosso time</a>
    </div>
  </section>
</body>

</html>