<!DOCTYPE html>
<html lang="en">

<%- include("../templates/head") %>

<body>
  <%- include("../templates/navbar")  %>

  <section class="hero">
    <div class="hero--content">
      <h1>A scooter que se <span>encaixa na sua vida</span> está aqui!</h1>
      <p>Nossa coleção de modelos abrange todas as necessidades de uma pessoa moderna: praticidade, durabilidade e eficiência são o nosso foco.</p>
      <a class="button-primary">Conheça nossos modelos</a>
    </div>
    <div class="hero--illustration">
      <img class="hero--image" src="img/hero_image.png" aria-hidden="true">
      <p class="hero--social-proof">+5.000 unidades vendidas | n° 1 nas pesquisas de mercado</p>
    </div>
  </section>

  <section class="social-proof">
    <div class="social-proof--ratings">
      <h2>Veja o que nossos clientes dizem</h2>
      <div class="star-ratings">
        <div class="star-card">
          <h3>Qualidade do produto</h3>
          <div class="stars" alt="N estrelas">
            <img src="/img/icons/icon_star.png" aria-hidden="true" srcset="">
            <img src="/img/icons/icon_star.png" aria-hidden="true" srcset="">
            <img src="/img/icons/icon_star.png" aria-hidden="true" srcset="">
            <img src="/img/icons/icon_star.png" aria-hidden="true" srcset="">
            <img src="/img/icons/icon_star.png" aria-hidden="true" srcset="">
          </div>
        </div>
        <div class="star-card">
          <h3>Atendimento ao cliente</h3>
          <div class="stars" alt="N estrelas">
            <img src="/img/icons/icon_star.png" aria-hidden="true" srcset="">
            <img src="/img/icons/icon_star.png" aria-hidden="true" srcset="">
            <img src="/img/icons/icon_star.png" aria-hidden="true" srcset="">
            <img src="/img/icons/icon_star.png" aria-hidden="true" srcset="">
            <img src="/img/icons/icon_star.png" aria-hidden="true" srcset="">
          </div>
        </div>
        <div class="star-card">
          <h3>Preço e valor do produto</h3>
          <div class="stars" alt="N estrelas">
            <img src="/img/icons/icon_star.png" aria-hidden="true" srcset="">
            <img src="/img/icons/icon_star.png" aria-hidden="true" srcset="">
            <img src="/img/icons/icon_star.png" aria-hidden="true" srcset="">
            <img src="/img/icons/icon_star.png" aria-hidden="true" srcset="">
            <img src="/img/icons/icon_star.png" aria-hidden="true" srcset="">
          </div>
        </div>
        <div class="star-card">
          <h3>Experiência de compra</h3>
          <div class="stars" alt="N estrelas">
            <img src="/img/icons/icon_star.png" aria-hidden="true" srcset="">
            <img src="/img/icons/icon_star.png" aria-hidden="true" srcset="">
            <img src="/img/icons/icon_star.png" aria-hidden="true" srcset="">
            <img src="/img/icons/icon_star.png" aria-hidden="true" srcset="">
            <img src="/img/icons/icon_star.png" aria-hidden="true" srcset="">
          </div>
        </div>
      </div>
      <div class="heart-rating">
        <img src="/img/icons/icon_heart.png" alt="Um ícone de coração">
        <h3>Recomendaria a marca</h3>
        <span>95%</span>
      </div>
    </div>
    <div class="social-proof--video">
      <img src="/img/social_proof_video.jpg" alt="Um vídeo de depoimento de clientes">
    </div>
  </section>
</body>

</html>