<!DOCTYPE html>
<html lang="en">

<%- include("templates/head") %>

<body>
  <%- include("templates/navbar")  %>

  <section class="hero">
    <h1>Vamos confirmar sua compra</h1>
    <img src="/img/icons/icon_down_arrow.png" aria-hidden="true">
  </section>
  <section class="teste">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati iusto accusamus sapiente laborum repellat non beatae est nulla impedit doloremque tempore reprehenderit harum veritatis asperiores, debitis repellendus nam blanditiis fugit eius neque dolorum esse? Exercitationem ex optio corrupti doloribus! Enim culpa saepe suscipit officia praesentium assumenda non debitis dolore eveniet.
  </section>

  <%- include("templates/footer") %>
</body>

</html>