<!DOCTYPE html>
<html lang="en">

<%- include("templates/head") %>

<body>
  <%- include("templates/navbar")  %>

  <section class="hero">
    <h1>Vamos confirmar sua compra</h1>
    <img src="/img/icons/icon_down_arrow.png" aria-hidden="true">
  </section>
  <section class="specs">
    <h2 class="section-title">Especificações da scooter</h2>
    <div class="specs--content">
      <div class="scooter-image--wrapper">
        <div class="scooter-image">
          <img src="/img/scooters/canyon_elite_scooter1.png" alt="Imagem da scooter especificada">
          <p>Visualização</p>
        </div>
      </div>
      <div class="scooter-informations">

        <div class="scooter-model">
          <h3>Modelo e cor</h3>

          <div class="field">
            <h4>Modelo</h4>
            <p>Canyon Elite Scooter</p>
          </div>

          <div class="field">
            <h4>Ano</h4>
            <p>2023</p>
          </div>

          <div class="field">
            <h4>Cor</h4>
            <div class="input-select-wrapper">
              <select class="input-select" name="" id="">
                <option value="" disabled selected>Selecione uma cor</option>
                <option value="">Amarela</option>
                <option value="">Branca</option>
                <option value="">Preta</option>
              </select>
            </div>
          </div>

        </div>

        <div class="scooter-technicalities">
          <h3>Tecnicalidades</h3>

          <div class="field">
            <h4>Velocidade máxima</h4>
            <p>25km/h</p>
          </div>

          <div class="field">
            <h4>Capacidade de carga</h4>
            <p>150kg</p>
          </div>

          <div class="field">
            <h4>Peso da scooter</h4>
            <p>57kg</p>
          </div>

          <div class="field">
            <h4>Dimensões</h4>
            <p>1.56m (A), 1.75 (C), 0.5m (L)</p>
          </div>

        </div>

        <div class="scooter-batery">
          <h3>Bateria</h3>

          <div class="field">
            <h4>Tipo de bateria</h4>
            <p>Polímero de lítio</p>
          </div>

          <div class="field">
            <h4>Capacidade</h4>
            <p>20Ah</p>
          </div>

          <div class="field">
            <h4>Autonomia</h4>
            <p>40km</p>
          </div>

          <div class="field">
            <h4>Potência e tempo de recarga</h4>
            <p>66W, 6h</p>
          </div>

        </div>

        <div class="scooter-included">
          <h3>Incluso</h3>

          <div class="field">
            <h4>Carregador</h4>
            <p>Potência: 66W</p>
            <p>Entrada: 110/220V</p>
            <p>Saída: 12V/5.5A</p>
          </div>

        </div>

        <div class="scooter-description">
          <h3>Descrição completa</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed scelerisque nunc vel bibendum efficitur. Curabitur eleifend at justo quis molestie. Etiam ac rutrum diam. In blandit metus velit, non suscipit nunc placerat quis. Ut sed purus quis tortor sodales aliquam. Vestibulum ut leo at lectus eleifend facilisis quis ac orci. Phasellus auctor lectus felis, et vehicula erat rhoncus a. </p>
        </div>
      </div>
    </div>

  </section>
  <section class="confirmation section-dark">
    <h2 class="section-title">Confirme seus dados</h2>
    <div class="confirmation--content">
      <div class="wrapper">
        <h3>Informações da scooter</h3>
        <div class="field">
          <h4>Modelo:</h4>
          <p>Ideal Canyon Scooter</p>
        </div>
        <div class="field">
          <h4>Ano:</h4>
          <p>2023</p>
        </div>
        <div class="field">
          <h4>Cor:</h4>
          <p>Vermelha</p>
        </div>
      </div>
      <div class="wrapper">
        <h3>Informações do comprador</h3>
        <div class="field">
          <div class="input-select-wrapper">
            <select class="input-select" name="" id="">
              <option value="" selected disabled>Selecione o comprador</option>
            </select>
          </div>
        </div>
        <div class="field">
          <h4>Nome completo:</h4>
          <p>Nome completo</p>
        </div>
        <div class="field">
          <h4>Data de nascimento:</h4>
          <p>23/03/2003</p>
        </div>
        <div class="field">
          <h4>CPF:</h4>
          <p>085.387.323-23</p>
        </div>
        <div class="field">
          <h4>Email:</h4>
          <p>emailexemplo@gmail.com</p>
        </div>
        <div class="field">
          <h4>Telefone 1:</h4>
          <p>88992997645</p>
        </div>
        <div class="field">
          <h4>Telefone 2:</h4>
          <p>88992997645</p>
        </div>
      </div>
      <div class="wrapper">
        <h3>Informações da entrega</h3>
        <div class="field">
          <div class="input-select-wrapper">
            <select class="input-select" name="" id="">
              <option value="" selected disabled>Selecione o endereço de entrega</option>
            </select>
          </div>
        </div>
        <div class="field">
          <h4>Nome completo do destinatário:</h4>
          <p>Nome completo</p>
        </div>
        <div class="field">
          <h4>Data de nascimento:</h4>
          <p>23/03/2003</p>
        </div>
        <div class="field">
          <h4>CPF:</h4>
          <p>085.387.323-23</p>
        </div>
        <div class="field">
          <h4>Rua:</h4>
          <p>Nome da rua</p>
        </div>
        <div class="field">
          <h4>Número:</h4>
          <p>123</p>
        </div>
        <div class="field">
          <h4>Complemento:</h4>
          <p>Complemento</p>
        </div>
        <div class="field">
          <h4>Bairro:</h4>
          <p>Bairro</p>
        </div>
        <div class="field">
          <h4>Cidade:</h4>
          <p>Cidade</p>
        </div>
        <div class="field">
          <h4>Estado:</h4>
          <p>Estado</p>
        </div>
      </div>
    </div>
  </section>

  <%- include("templates/footer") %>
</body>

</html>