<!DOCTYPE html>
<html lang="en">

<%- include("templates/head") %>

<body>
  <%- include("templates/navbar")  %>

  <section class="hero">
    <div class="hero--content">
      <h1>A scooter que se <span>encaixa na sua vida</span> está aqui!</h1>
      <p>Nossa coleção de modelos abrange todas as necessidades de uma pessoa moderna: praticidade, durabilidade e eficiência são o nosso foco.</p>
      <a class="button-primary">Conheça nossos modelos</a>
    </div>
    <div class="hero--illustration">
      <img class="hero--image" src="img/hero_image.png" aria-hidden="true">
      <p class="hero--social-proof">+5.000 unidades vendidas | n° 1 nas pesquisas de mercado</p>
    </div>
  </section>

  <section class="social-proof">
    <div class="social-proof--content">
      <h2 class="section-title">Veja o que nossos clientes dizem sobre nós</h2>
      <div class="ratings-wrapper">
        <div class="star-ratings">
          <div class="title">Qualidade do produto</div>
          <div class="stars" alt="Avaliação de 5 estrelas">
            <img src="img/icons/icon_star.png" aria-hidden="true">
            <img src="img/icons/icon_star.png" aria-hidden="true">
            <img src="img/icons/icon_star.png" aria-hidden="true">
            <img src="img/icons/icon_star.png" aria-hidden="true">
            <img src="img/icons/icon_star.png" aria-hidden="true">
          </div>
          <div class="title">Atendimento ao cliente </div>
          <div class="stars" alt="Avaliação de 5 estrelas">
            <img src="img/icons/icon_star.png" aria-hidden="true">
            <img src="img/icons/icon_star.png" aria-hidden="true">
            <img src="img/icons/icon_star.png" aria-hidden="true">
            <img src="img/icons/icon_star.png" aria-hidden="true">
            <img src="img/icons/icon_star.png" aria-hidden="true">
          </div>
          <div class="title">Preço e valor do produto</div>
          <div class="stars" alt="Avaliação de 5 estrelas">
            <img src="img/icons/icon_star.png" aria-hidden="true">
            <img src="img/icons/icon_star.png" aria-hidden="true">
            <img src="img/icons/icon_star.png" aria-hidden="true">
            <img src="img/icons/icon_star.png" aria-hidden="true">
            <img src="img/icons/icon_star.png" aria-hidden="true">
          </div>
          <div class="title">Experiência de compra</div>
          <div class="stars" alt="Avaliação de 5 estrelas">
            <img src="img/icons/icon_star.png" aria-hidden="true">
            <img src="img/icons/icon_star.png" aria-hidden="true">
            <img src="img/icons/icon_star.png" aria-hidden="true">
            <img src="img/icons/icon_star.png" aria-hidden="true">
            <img src="img/icons/icon_star.png" aria-hidden="true">
          </div>
        </div>
        <div class="heart-rating">
          <img src="img/icons/icon_heart.png" aria-hidden="true">
          <h3>Recomendaria a marca</h3>
          <p>96%</p>
        </div>
      </div>
    </div>
    <div class="social-proof--video">
      <img src="/img/social_proof_video.jpg" alt="">
    </div>
  </section>
  <section class="features section-dark">
    <h2 class="section-title">Só nas nossas scooters você encontra</h2>
    <div class="features-wrapper">
      <div class="feature-card">
        <img src="/img/icons/icon_velocimeter.png" aria-hidden="true">
        <h3>Potência excepcional</h3>
        <p>Nós projetamos nossas scooters com motores potentes, que proporcionam uma condução suave e rápida.</p>
      </div>
      <div class="feature-card">
        <img src="/img/icons/icon_cheap.png" aria-hidden="true">
        <h3>Preço acessível</h3>
        <p>Trabalhamos para manter nossos preços competitivos sem comprometer a qualidade do produto.</p>
      </div>
      <div class="feature-card">
        <img src="/img/icons/icon_shield.png" aria-hidden="true">
        <h3>Durabilidade superior</h3>
        <p> Nossas scooters são construídas com materiais de alta qualidade e são resistentes ao desgaste diário.</p>
      </div>
    </div>
  </section>
  <section class="products">
    <div class="product-images">
      <img src="img/scooters/canyon_elite_scooter1.png" alt="Imagem da Canyon Elite Scooter em fundo transparente" class="main-image">
      <div class="left-images">
        <img src="/img/scooters/canyon_elite_scooter2.jpg" aria-hidden="true">
        <img src="/img/scooters/canyon_elite_scooter2.jpg" aria-hidden="true">
        <img src="/img/scooters/canyon_elite_scooter2.jpg" aria-hidden="true">
      </div>
      <div class="right-images">
        <img src="/img/scooters/canyon_elite_scooter2.jpg" aria-hidden="true">
        <img src="/img/scooters/canyon_elite_scooter2.jpg" aria-hidden="true">
        <img src="/img/scooters/canyon_elite_scooter2.jpg" aria-hidden="true">
      </div>
      <div class="product-image-slider">
        <div class="slider"></div>
        <div class="slider"></div>
        <div class="slider" data-active="true"></div>
        <div class="slider"></div>
        <div class="slider"></div>
      </div>
    </div>
    <div class="product-informations">
      <h2 class="product-name">
        Canyon Elite Scooter
      </h2>
      <div class="product-highlights">
        <div class="product-highlight">
          <h3>25</h3>
          <span>km/h</span>
          <p>velocidade máxima</p>
        </div>
        <div class="product-highlight">
          <h3>40</h3>
          <span>km</span>
          <p>autonomia</p>
        </div>
        <div class="product-highlight">
          <h3>6</h3>
          <span>hr</span>
          <p>recarga completa</p>
        </div>
      </div>
    </div>
    <div class="product-description">
      A Canyon Elite Scooter é uma opção excepcional para aqueles que procuram uma scooter elétrica de alta qualidade. Com uma velocidade máxima de 25km/h, esta scooter oferece uma condução suave e rápida, permitindo que os usuários se movam pela cidade com facilidade. Além disso, a bateria da Canyon Elite oferece uma autonomia de até 40 km por carga, o que é uma ótima opção para aqueles que precisam se deslocar por longas distâncias. E com um tempo de recarga de apenas 6 horas, você pode rapidamente recarregar sua bateria e estar pronto para outra jornada.
    </div>
    <div class="product-price-cta-wrapper">
      <div class="product-price">
        <h3>R$3.200,00</h3>
        <p>até 24x de R$160,00</p>
      </div>
      <div class="product-cta">
        <a href="" class="button-primary">Comprar agora</a>
        <a href="" class="button-secondary">Mais detalhes</a>
      </div>
    </div>
    <div class="other-product">
      <img src="img/scooters/canyon_comfort_scooter1.png" aria-hidden="true">
      <h2>Canyon Comfort</h2>
      <a href="" alt="Ver informações da Canyon Comfort Scooter"></a>
    </div>
    <div class="other-product">
      <img src="img/scooters/canyon_master_scooter1.png" aria-hidden="true">
      <h2>Canyon Master</h2>
      <a href="" alt="Ver informações da Canyon Comfort Scooter"></a>
    </div>
  </section>
  <section class="about-us section-dark">
    <img src="/img/meet_the_team_image.jpg" alt="Equipe da Ideal Canyon reunida">
    <div class="about-us--content">
      <h2 class="section-title">Sobre nosso time</h2>
      <p>Nossa equipe é composta por profissionais dedicados que trabalham duro para oferecer a você os melhores produtos e serviços possíveis. Cada membro da nossa equipe possui habilidades únicas aliadas a experiências valiosas que nos ajudam a atender nossos clientes de forma eficaz. Estamos comprometidos tem fornecer scooters duráveis ​​e de alta qualidade, mantendo preços acessíveis, e nosso time está sempre prontos para ajudá-lo a encontrar a scooter perfeita para todas as suas necessidades. Conheça nosso time agora e saiba mais sobre as pessoas que fazem a Ideal Canyon acontecer.</p>
      <a href="" class="button-primary">Conheça nosso time</a>
    </div>
  </section>
  <section class="faq">
    <h2 class="section-title">Dúvidas frequentes</h2>
    <div class="faq--content">
      <div class="faq-static">
        <ul>
          <li class="doubt">
            <h3>Qual é o prazo de entrega para os scooters da Ideal Canyon?</h3>
            <p>O prazo de entrega para nossas scooters pode variar dependendo da sua localização e da disponibilidade de estoque. Geralmente, leva-se em torno de 7 a 15 dias.</p>
          </li>
          <li class="doubt">
            <h3>A Ideal Canyon oferece garantia em seus produtos?</h3>
            <p>Sim, oferecemos garantia em todos os nossos produtos. A duração da garantia varia de acordo com o modelo do scooter, mas garantimos que todos os produtos da Ideal Canyon são fabricados com materiais de alta qualidade e construídos para durar.</p>
          </li>
          <li class="doubt">
            <h3>As scooters da Ideal Canyon são fáceis de montar?</h3>
            <p>Sim! Nossas scooters são projetadas para serem fáceis de montar. Incluímos instruções detalhadas para ajudá-lo a montar seu scooter rapidamente e sem complicações. Caso tenha alguma dúvida, nossa equipe de suporte está sempre disponível para ajudá-lo.</p>
          </li>
        </ul>
      </div>
      <div class="faq-dynamic">
        <ul>
          <li>
            <h3>Posso devolver meu scooter se não estiver satisfeito?</h3>
          </li>
          <li>
            <h3>Como faço para manter meu scooter da Ideal Canyon?</h3>
          </li>
          <li>
            <h3>Qual é a diferença entre os modelos de scooters da Ideal Canyon?</h3>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="doubts">
    <h2 class="section-title">Restou alguma dúvida? entre em contato</h2>
    <form class="doubts--content" action="">
      <div class="input-wrapper">
        <label for="">Nome completo</label>
        <input class="input-text" type="text" name="" id="">
      </div>
      <div class="input-wrapper">
        <label for="">Assunto</label>
        <input class="input-text" type="text" name="" id="">
      </div>
      <div class="input-wrapper">
        <label for="">Sua dúvida ou sugestão</label>
        <textarea class="input-textarea" name="" rows="10"></textarea>
      </div>
      <div class="input-wrapper">
        <label for="">E-mail para contato</label>
        <input class="input-text" type="email" name="" id="">
      </div>
      <div class="input-wrapper">
        <label for="">Termos de uso</label>
        <div>
          <input class="input-checkbox" type="checkbox" name="" id="">
          <p>Eu aceito os <a href="">termos de uso</a> do serviço de contato da Ideal Canyon</p>
        </div>
      </div>
      <button class="button-primary">Confirmar envio</button>
    </form>
  </section>

  <%- include("templates/footer") %>
</body>

</html>