:root {
    /* font-sizes */
    font-size: 112.5%;
    --font-s: 1rem;
    --font-m: 1.33rem;
    --font-l: 2rem;
    --font-xl: 2.66rem;

    /* colors */
    --col-light: #fff;
    --col-dark: #000;
    --col-main: #f08a00;

    /* spacings */
    --spacing-xxs: 0.44rem;
    --spacing-xs: 0.88rem;
    --spacing-s: 1.33rem;
    --spacing-m: 1.77rem;
    --spacing-l: 2.66rem;
    --spacing-xl: 3.55rem;
    --spacing-xxl: 5.33rem;
    --spacing-xxxl: 7.11rem;
}

body {
    font-family: "Futura PT", sans-serif;
    font-weight: 400;
}
