<aside class="aside">
  <div class="head">
    <a class="head-logo" href="/">
      <svg width="46" height="48" viewBox="0 0 46 48" fill="none" xmlns="http://www.w3.org/2000/svg" alt="Logo da Ideal Canyon">
        <path d="M8.27355 47.9024L11.9237 17.7756L2.99615 23.2715L0 48L8.27355 47.9024Z" fill="black" />
        <path d="M40.7987 0L18.6322 13.6461L14.4902 47.8288L45.8656 47.4595C45.8656 47.4595 27.4141 24.0442 40.0268 16.8254L40.7987 0Z" fill="black" />
      </svg>
      <p aria-hidden="true">Ideal Canyon</p>
    </a>
    <img class="head-close" src="/img/icons/icon_close.png" alt="Fechar menu lateral"></img>
  </div>
  <nav class="aside-navbar">
    <h2>Navegação Rápida</h2>
    <ul class="aside-navbar-navigation">
      <li><a href="">Início</a></li>
      <li><a href="">Avaliação</a></li>
      <li><a href="">Nossas scooters</a></li>
      <li><a href="">Conheça nosso time</a></li>
      <li><a href="">Dúvidas</a></li>
      <li><a href="">Contatos</a></li>
    </ul>
    <a class="aside-login" href="/login"><img src="/img/icons/icon_login.png" alt="Fazer login ou cadastrar">Fazer login</a>
  </nav>
  <a href="#modelos" class="button-primary">Conheça nossas scooters</a>
</aside>