<!DOCTYPE html>
<html lang="en">

<%- include("../templates/head") %>

<body>
  <%- include("../templates/navbar")  %>
  <section class="about">
    <div class="about-hero">
      <h1>Nós somos a Ideal Canyon</h1>
    </div>
  </section>
  <section class="about-story">
    <h2 class="section-title">Como surgiu a Ideal Canyon</h2>
    <img src="/img/meet_the_team_image2.jpg" alt="Integrantes da equipe juntando as mãos no centro da imagem">
    <p>Nós, Gabriel e Clara, fundadores da Ideal Canyon, sempre fomos apaixonados por mobilidade urbana e sustentabilidade. Em nossas conversas, frequentemente surgia a ideia de criar uma empresa que oferecesse soluções de transporte ecológicas e acessíveis para todos. Foi assim que, em 2015, decidimos unir nossas habilidades e experiências para fundar a Ideal Canyon. Começamos com um pequeno espaço em um galpão alugado, onde projetamos e fabricamos nossos primeiros protótipos de scooters elétricas. Desde então, temos trabalhado duro para crescer e expandir nossos negócios, sempre mantendo nosso compromisso com a qualidade e a sustentabilidade. Hoje, estamos orgulhosos de ser uma das principais empresas do mercado de scooters elétricas, e continuamos a buscar novas formas de tornar o transporte urbano mais limpo, eficiente e acessível a todos.</p>
  </section>

  <%- include("../templates/footer") %>
</body>

</html>