<!DOCTYPE html>
<html lang="en">

<% console.log() %>
<%- include("templates/head") %>

<body>
  <%- include("templates/navbar")  %>
  <section class="about">
    <div class="about-hero">
      <h1>Nós somos a Ideal Canyon</h1>
    </div>
  </section>
  <section class="about-story">
    <h2 class="section-title">Como surgiu a Ideal Canyon</h2>
    <img src="/img/meet_the_team_image2.jpg" alt="Integrantes da equipe juntando as mãos no centro da imagem">
    <p>Nós, Gabriel e Clara, fundadores da Ideal Canyon, sempre fomos apaixonados por mobilidade urbana e sustentabilidade. Em nossas conversas, frequentemente surgia a ideia de criar uma empresa que oferecesse soluções de transporte ecológicas e acessíveis para todos. Foi assim que, em 2015, decidimos unir nossas habilidades e experiências para fundar a Ideal Canyon. Começamos com um pequeno espaço em um galpão alugado, onde projetamos e fabricamos nossos primeiros protótipos de scooters elétricas. Desde então, temos trabalhado duro para crescer e expandir nossos negócios, sempre mantendo nosso compromisso com a qualidade e a sustentabilidade. Hoje, estamos orgulhosos de ser uma das principais empresas do mercado de scooters elétricas, e continuamos a buscar novas formas de tornar o transporte urbano mais limpo, eficiente e acessível a todos.</p>
  </section>
  <section class="founders">
    <h2 class="section-title">Conheça os fundadores</h2>
    <div class="founders--content">
      <div class="founder-card">
        <img src="/img/meet_the_team_ana.jpg" alt="Foto da fundadora Ana">
        <h3>Ana Clara da Silva</h3>
        <p>Meu nome é Clara e sou fundadora da Ideal Canyon. Desde jovem, tive uma paixão por empreendedorismo e por criar algo que pudesse fazer a diferença. Eu sempre fui atraída pelo mundo das startups e pela ideia de criar algo do zero. Conheci o Gabriel em uma conferência do setor e logo percebemos que tínhamos uma visão compartilhada de como a mobilidade elétrica poderia mudar o mundo. Decidimos então unir forças e fundar a Ideal Canyon.</p>
      </div>
      <div class="founder-card">
        <img src="/img/meet_the_team_gabriel.jpg" alt="Foto da fundadora Ana">
        <h3>Gabriel Farias de Lima</h3>
        <p>Meu nome é Gabriel e sou um dos fundadores da Ideal Canyon. Sempre fui apaixonado por veículos elétricos e sua capacidade de transformar a maneira como nos movemos pelo mundo. Depois de trabalhar em algumas empresas do setor, percebi que poderia criar algo único e especial se unisse forças com alguém que compartilhasse da minha visão. Foi assim que conheci a minha parceira de negócios, Clara.</p>
      </div>
    </div>
  </section>
  <section class="departments">
    <div class="department">
      <h2 class="section-title">Departamento de Vendas</h2>
      <div class="department--content">
        <div class="team-member">
          <h3>Ana Maria dos Anjos</h3>
          <span>Gerente de Vendas</span>
          <p>responsável pela liderança da equipe, definição de estratégias de vendas e acompanhamento de resultados;</p>
        </div>
        <div class="team-member">
          <h3>João Carlos de Alencar</h3>
          <span>Coordenador de Marketing</span>
          <p>responsável pelo planejamento e execução de ações de marketing para divulgação da marca e dos produtos</p>
        </div>
        <div class="team-member">
          <h3>Clériton Sávio da Silva</h3>
          <span>Especialista em Vendas</span>
          <p>responsável por atender os clientes e orientá-los na escolha do produto ideal para suas necessidades</p>
        </div>
        <div class="team-member">
          <h3>Eliana Polígramo</h3>
          <span>Analista de Vendas</span>
          <p>responsável por analisar dados de vendas e auxiliar na definição de estratégias para melhorar o desempenho da equipe</p>
        </div>
        <div class="team-member">
          <h3>Emerson do Morro</h3>
          <span>Assistente de Vendas</span>
          <p>responsável por prestar suporte à equipe de vendas e auxiliar no atendimento aos clientes</p>
        </div>
      </div>
    </div>
    <div class="department">
      <h2 class="section-title">Departamento de Produção</h2>
      <div class="department--content">
        <div class="team-member">
          <h3>Marcos Filho</h3>
          <span>Gerente de Produção</span>
          <p>responsável pela liderança da equipe de produção, definição de estratégias e processos produtivos</p>
        </div>
        <div class="team-member">
          <h3>Sakamichi Onoda</h3>
          <span>Engenheiro de Desenvolvimento</span>
          <p>responsável pelo desenvolvimento de novos produtos e evolução das scooters existentes</p>
        </div>
        <div class="team-member">
          <h3>Sawamura Eijun</h3>
          <span>Especialista em Qualidade</span>
          <p>responsável pela garantia da qualidade dos produtos em todas as etapas de produção</p>
        </div>
        <div class="team-member">
          <h3>Ana Paula Macedo</h3>
          <span>responsável pela supervisão das linhas de produção, garantindo a produtividade e qualidade</span>
          <p>responsável pela supervisão das linhas de produção, garantindo a produtividade e qualidade</p>
        </div>
        <div class="team-member">
          <h3>Fábio dos Campos</h3>
          <span>Operador de Produção</span>
          <p>responsável por executar as atividades de produção de acordo com as normas e procedimentos estabelecidos</p>
        </div>
      </div>
    </div>
  </section>

  <%- include("templates/footer") %>
</body>

</html>