<!DOCTYPE html>
<html lang="en">

<%- include("templates/head") %>

<body>
  <%- include("templates/navbar")  %>

</body>
<section class="register">
  <h1 class="section-title">Cadastrar</h1>

  <div class="register--content">
    <form action="" method="post">
      <div class="field">
        <h2>Email</h2>
        <input type="text" class="input-text"></input>
      </div>
      <div class="field">
        <h2>Senha</h2>
        <input type="text" class="input-text"></input>
      </div>
      <div class="field">
        <h2>Confirme a senha</h2>
        <input type="text" class="input-text"></input>
      </div>
      <button class="button-primary">
        <a href="/">Cadastrar</a>
      </button>
    </form>
    <p>
      ou <br>
      <a href="/login">Faça login</a>
    </p>
  </div>
</section>

</html>