// FAQ
.faq {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: var(--spacing-24);

    margin-top: var(--spacing-48);
    margin-left: var(--spacing-16);

    // main doubts (static)
    ul:first-of-type {
        list-style-type: disc;
        grid-column: span 7;
    }

    // right side doubts (dynamic dropdown)
    ul:last-of-type {
        grid-column: 9 / span 4;

        li {
            position: relative;
            cursor: pointer;

            p {
                height: 0;
                overflow: hidden;
            }

            &:focus,
            &:focus-visible {
                p {
                    height: auto;
                    width: 100%;

                    font-weight: 400;

                    transition: height 0.3s ease-in-out;

                    margin-top: var(--spacing-8);
                }

                &::before {
                    rotate: 0deg;
                    opacity: 0.5;
                }
            }
        }

        li::before {
            content: "";
            position: absolute;
            left: calc(var(--spacing-8) * -3);
            top: 0;

            display: inline-block;

            aspect-ratio: 1;
            height: var(--spacing-16);

            background-image: url("../../assets/img/icons/icon_dropdown_main.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom;

            rotate: -90deg;

            transition: rotate 0.3s;
        }
    }
}

@media (width<1024px) {
    .faq {
        display: block;
        padding-inline: var(--spacing-16);

        ul:last-of-type {
            grid-column: 1;
            grid-row: 2;

            margin-top: var(--spacing-48);
            margin-left: var(--spacing-8);
        }
    }
}
