@font-face {
    font-family: "Futura PT";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/FuturaPTBook.woff2") format("woff2");
}

@font-face {
    font-family: "Futura PT";
    font-style: normal;
    font-weight: 500;
    src: url("/fonts/FuturaPTDemi.woff2") format("woff2");
}

@font-face {
    font-family: "Futura PT";
    font-style: normal;
    font-weight: 700;
    src: url("/fonts/FuturaPTBold.woff2") format("woff2");
}
