.faq_dynamic {
    position: relative;
    cursor: pointer;

    p {
        height: 0;
        overflow: hidden;
    }

    &:focus,
    &:focus-visible {
        p {
            height: auto;
            width: 100%;

            font-weight: 400;

            transition: height 0.3s ease-in-out;

            margin-top: var(--spacing-8);
        }

        &::before {
            rotate: 0deg;
            opacity: 0.5;        
        }
    }

    &::before{
        content: "";
            position: absolute;
            left: calc(var(--spacing-8) * -3);
            top: 0;

            display: inline-block;

            aspect-ratio: 1;
            height: var(--spacing-16);

            background-image: url("../../../assets/img/icons/icon_dropdown_main.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom;

            rotate: -90deg;

            transition: rotate 0.3s;
    }
}