@font-face {
    font-family: "Futura PT";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/FuturaPTBook.woff2") format("woff2");
}

@font-face {
    font-family: "Futura PT";
    font-style: normal;
    font-weight: 500;
    src: url("../assets/fonts/FuturaPTDemi.woff2") format("woff2");
}

@font-face {
    font-family: "Futura PT";
    font-style: normal;
    font-weight: 700;
    src: url("../assets/fonts/FuturaPTBold.woff2") format("woff2");
}

:root {
    // base font size in pixels
    $base-font-size: 18px;

    // base spacing size in pixels
    $base-spacing-size: 16px;

    // result in percentage
    $font-size: $base-font-size/16px * 100%;

    // ---------------
    // font-sizes
    // ---------------
    font-size: $font-size;
    font-family: "Futura PT", sans-serif;
    --font-18: 1rem;
    --font-24: 1.33rem;
    --font-36: 2rem;
    --font-48: 2.66rem;

    // ---------------
    /* colors */
    // ---------------
    --col-light: rgba(255, 255, 255, 1);
    --col-dark: rgba(0, 0, 0, 1);
    --col-main: rgba(240, 138, 0, 1);

    // ---------------
    /* spacings */
    // ---------------
    --spacing-8: calc(#{$base-spacing-size} / 2);
    --spacing-16: calc(#{$base-spacing-size});
    --spacing-24: calc(#{$base-spacing-size} * 1.5);
    --spacing-32: calc(#{$base-spacing-size} * 2);
    --spacing-48: calc(#{$base-spacing-size} * 3);
    --spacing-64: calc(#{$base-spacing-size} * 4);
    --spacing-96: calc(#{$base-spacing-size} * 6);
    --spacing-128: calc(#{$base-spacing-size} * 8);
}

// ----------------------------------
// layout
// ----------------------------------

.side-bleed {
    // used for bleed in mobile
    padding-inline: var(--spacing-24);
}

@media (width >= 768px) {
    .side-bleed {
        // used for bleed in desktop
        padding-inline: var(--spacing-64);
    }
}

.section-dark {
    background-color: var(--col-dark);
    padding: var(--spacing-64) var(--spacing-24);
    width: 100%;
    box-sizing: border-box;
}

.section-margin-top {
    margin-top: var(--spacing-64);
}

@media (width >= 768px) {
    .section-margin-top {
        margin-top: var(--spacing-96);
    }

    .section-dark {
        background-color: var(--col-dark);
        padding: var(--spacing-96) var(--spacing-64);
    }
}

.grid-col-6,
.grid-col-8-4 {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: var(--spacing-24);
    column-gap: var(--spacing-24);

    > * {
        grid-column: span 1;
    }
}

@media (width >= 768px) {
    .grid-col-6 {
        grid-template-columns: repeat(12, 1fr);

        > * {
            grid-column: span 6;
        }
    }
}

@media (width>=1024px) {
    .grid-col-8-4 {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        row-gap: var(--spacing-24);
        column-gap: var(--spacing-24);

        > :first-child {
            grid-column: 1 / span 8;
        }

        > :last-child {
            grid-column: 9 / span 4;
        }
    }
}

.max-width-500 {
    max-width: 500px;
    margin-inline: auto;

    * {
        margin-inline: auto;
    }
}

.max-width-tablet-800 {
    max-width: 800px;
    margin-inline: auto;

    a {
        margin-inline: auto;
    }
}

@media (width>768px) {
    .max-width-tablet-800 {
        max-width: 800px;
        margin-inline: auto;

        a {
            margin-left: 0;
        }
    }
}

@media (width >= 1024px) {
    .max-width-desktop-unset {
        max-width: unset;
        margin-inline: unset;

        * {
            margin-inline: unset;
        }
    }
}

// ----------------------------------
// text
// ----------------------------------

.text-h1 {
    font-size: var(--font-36);
    font-weight: bold;
}

.text-h2 {
    font-size: var(--font-24);
    font-weight: bold;
}

.text-h3 {
    font-size: var(--font-18);
    font-weight: bold;
}

.text-p {
    font-size: var(--font-18);
}

.text-dark {
    color: var(--col-dark);
}

.text-light {
    color: var(--col-light);
}

.text-main {
    color: var(--col-main);
}

@media (width >= 768px) {
    .text-h1 {
        font-size: var(--font-48);
    }

    .text-h2 {
        font-size: var(--font-36);
    }

    .text-h3 {
        font-size: var(--font-24);
    }
}

.text-bold {
    font-weight: bold;
}

.text-demi {
    font-weight: 500;
}

.text-regular {
    font-weight: 400;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-justify {
    text-align: justify;
}

@media (width >= 768px) {
    .text-tablet-center {
        text-align: center;
    }

    .text-tablet-left {
        text-align: left;
    }

    .text-tablet-right {
        text-align: right;
    }
}

@media (width >= 1024px) {
    .text-desktop-center {
        text-align: center;
    }

    .text-desktop-left {
        text-align: left;
    }

    .text-desktop-right {
        text-align: right;
    }
}

.line-height-15 {
    line-height: 1.5;
}

// ----------------------------------
// gaps
// ----------------------------------

.gap-h-8 {
    > * {
        margin-top: var(--spacing-8);
    }

    :first-child {
        margin-top: unset;
    }
}

.gap-h-16 {
    > * {
        margin-top: var(--spacing-16);
    }

    :first-child {
        margin-top: unset;
    }
}

.gap-h-24 {
    > * {
        margin-top: var(--spacing-24);
    }

    :first-child {
        margin-top: unset;
    }
}

.gap-h-32 {
    > * {
        margin-top: var(--spacing-32);
    }

    :first-child {
        margin-top: unset;
    }
}

.gap-h-48 {
    > * {
        margin-top: var(--spacing-48);
    }

    :first-child {
        margin-top: unset;
    }
}
